---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Conexão Esportiva">
	<main>
    <h1>Projetos sociais voltados ao esporte</h1>

    <div class="card">
      <h2>Instituto Reação</h2>
      <p>Fundado pelo medalhista olímpico Flávio Canto, o Instituto Reação utiliza o judô como ferramenta de transformação social, oferecendo treinamento esportivo e educação para jovens em comunidades de baixa renda.</p>
      <a href="https://institutoreacao.org.br/">link para o site oficial</a>
    </div>

    <div class="card">
      <h2>Atletas pela Cidadania</h2>
      <p>Este projeto, liderado por atletas brasileiros renomados, promove ações sociais, educação e esportes para crianças e adolescentes em situação de vulnerabilidade social.</p>
      <a href="https://atletaspelobrasil.org.br/quem-somos">link para o site oficial</a>
    </div>

    <div class="card">
      <h2>Instituto Ayrton Senna</h2>
      <p>Embora seja mais conhecido por suas iniciativas na educação, o instituto também apoia projetos esportivos para crianças e jovens em diversas regiões do Brasil.</p>
      <a href="https://institutoayrtonsenna.org.br/">link para o site oficial</a>
    </div>

    <div class="card">
      <h2>Projeto Gol de Letra</h2>
      <p>Fundado pelos ex-jogadores de futebol Raí e Leonardo, o Gol de Letra combina educação e esporte para melhorar as perspectivas de vida de jovens em comunidades carentes.</p>
      <a href="https://www.goldeletra.org.br/">link para o site oficial</a>
    </div>

    <div class="card">
      <h2>Instituto Passe de Mágica</h2>
      <p>Este projeto utiliza o basquete como uma ferramenta de inclusão social e educação para crianças e adolescentes em comunidades de São Paulo.</p>
      <a href="https://www.passedemagica.org.br/">link para o site oficial</a>
    </div>

    <div class="card">
      <h2>Vôlei Futuro</h2>
      <p>Localizado em Araçatuba, São Paulo, este projeto tem como objetivo promover o voleibol como meio de desenvolvimento pessoal e social para crianças e jovens.</p>
      <a href="https://www.voleifuturo.com.br/">link para o site oficial</a>
    </div>
	</main>
</Layout>
