---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Conexão Esportiva">
	<main>
    <h1>Integrantes: </h1>
    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Breno Nunes Galvão</span>
        <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
      </div>
    </div>


    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Raphael Braga</span>
        <p>especialista em programas sociais do projeto. trabalha em estreita colaboração com organizações parceiras e comunidades para garantir que os programas esportivos atendam às necessidades das pessoas e tenham um impacto positivo.</p>
      </div>
    </div>


    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Guilherme Perez</span>
        <p>responsável por promover o projeto "Conexão Esportiva" e aumentar sua visibilidade. trabalha na criação de campanhas de marketing, parcerias estratégicas e engajamento da comunidade para aumentar o alcance do projeto.</p>
      </div>
    </div>


    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Pedro Henrique Duarte</span>
        <p>desempenha um papel fundamental na identificação e colaboração com parceiros-chave, como empresas, instituições esportivas e outras organizações. ajuda a garantir o apoio necessário para o crescimento e a sustentabilidade do projeto.</p>
      </div>
    </div>

    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Denner Pereira do Nascimento</span>
        <p>voluntário dedicado que participa ativamente dos programas esportivos e eventos do projeto. Sua paixão pelo esporte e seu compromisso com a causa inspiram outros a se envolverem.</p>
      </div>
    </div>

    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Brenno Matheus da Silva Bueno</span>
        <p>designer por trás da identidade visual do projeto. Ele cria materiais gráficos atraentes para promover o projeto e tornar sua presença online e offline memorável.</p>
      </div>
    </div>

    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Chistian Ivan de Santana</span>
        <p>responsável por criar e gerenciar o conteúdo do site, blog e mídias sociais do projeto. Ele compartilha histórias inspiradoras, informações sobre eventos e recursos úteis com a comunidade.</p>
      </div>
    </div>

    <div class="icard">
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <div class="icard-content">
        <span>Yago França Galvão</span>
        <p>coleta e analisa dados para medir o impacto do projeto e tomar decisões informadas. Seu trabalho ajuda a avaliar o progresso e identificar áreas de melhoria.</p>
      </div>
    </div>
	</main>
</Layout>
