---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Conexão Esportiva">
	<main>
    <h1>Integrantes: </h1>
    <div>
      <span>Breno Nunes Galvão</span>
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
    </div>

    <div>
      <span>Breno Nunes Galvão</span>
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
    </div>

    <div>
      <span>Breno Nunes Galvão</span>
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
    </div>

    <div>
      <span>Breno Nunes Galvão</span>
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
    </div>

    <div>
      <span>Breno Nunes Galvão</span>
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
    </div>

    <div>
      <span>Breno Nunes Galvão</span>
      <img src="http://www.vut.ac.za/wp-content/uploads/2016/10/blank-profile-picture-973460_1280-283x189.jpg">
      <p>desenvolvedor web. responsável por criar e manter o site "Conexão Esportiva", garantindo que seja funcional, fácil de usar e visualmente atraente.</p>
    </div>
	</main>
</Layout>
